<nb-card size="{{backService.graphHeight}}">
        <nb-card-header>
          <div class="row">
            <div class="f1">
                Total Units Sold
            </div>


            <div class="f2">
                
                <ngx-chart-panel-header  class="panelHeader" [type]="this.backService.monthChosenForGraph"
                (periodChange)="setPeriodAndGetChartData($event)"> 
    </ngx-chart-panel-header> 

   
              </div>

              <div class="f3" >
                  <nb-icon  [hidden]="!this.backService.mapHide" pack="ion" class="ion-arrow-resize ng-star-inserted"  (click)="onResizeElement()"></nb-icon>
                  <nb-icon [hidden]="this.backService.mapHide" pack="ion"  class="ion-reply ng-star-inserted" (click)="onNormalsizeElement()"></nb-icon>
                </div>

          </div>
         
            
        </nb-card-header>
      <div class="chart-container">      
        <ngx-profit-chart #profitChart [profitChartData]="backService.chartData"></ngx-profit-chart>
      </div>
</nb-card>
