<!--<nb-card-header>
  <nb-select [selected]="selectedCurrency" (selectedChange)="changeCurrency($event)">
    <nb-option *ngFor="let currency of currencies" [value]="currency">{{ currency }}</nb-option>
  </nb-select>
</nb-card-header>-->
<nb-card-body>
  <div class="chart-info">
   
   <!-- <div class="h6">{{ earningLiveUpdateCardData.dailyIncome | ngxNumberWithCommas }}</div>-->
   <div class="h6">{{ backService.aboveListing[name.id] | ngxNumberWithCommas }}</div> 
   <div> {{name.name | ngxCapitalize}}</div>
    <div class="delta"
         [class.up]="backService.aboveListing[name.id+'_per'] > 0"
         [class.down]="backService.aboveListing[name.id+'_per'] < 0">
      <nb-icon [icon]="earningLiveUpdateCardData.delta.up ? 'arrow-up' : 'arrow-down'"
               pack="eva"
               class="direction">
      </nb-icon>
      <!--{{ earningLiveUpdateCardData.delta.value }}%-->
      {{backService.aboveListing[name.id+'_per']}}%
    </div>

    
  </div>
  <!--<ngx-earning-live-update-chart
    [liveUpdateChartData]="liveUpdateChartData">
  </ngx-earning-live-update-chart>-->
</nb-card-body>
<nb-card-footer>
    <nb-select [selected]="selectedCurrency" (selectedChange)="changeCurrency($event)">
        <nb-option *ngFor="let currency of currencies" [value]="currency">{{ currency }}</nb-option>
      </nb-select>
  </nb-card-footer>
