<div class="row">
  <div class="col-xxl-5" [hidden]="!this.backService.mapHide" >
    <div class="row">
      <div *ngFor ="let item of totalEntries" class="col-md-3">
        <ngx-earning-card [name] = "item"></ngx-earning-card>
      </div>
    </div>
  </div>
  <div class="col-xxl-7">
    <div class="row">
        <div class="{{backService.graphParent}}">
           
            <ngx-ecommerce-charts></ngx-ecommerce-charts>      
        </div>
        <div class="col-md-6">
            <ngx-country-orders [hidden]="!this.backService.mapHide" ></ngx-country-orders>
        </div>
    </div>
  </div>

  <div class="col-xxl-7" [hidden]="!this.backService.mapHide" >
      <nb-card size="tiny">
          <nb-card-header>Summary
              
          </nb-card-header>
          <nb-card-body>
           In {{backService.current_countryName}}, the company has reaped total profits of
            {{ backService.aboveListing['total_profit'] | ngxNumberWithCommas }} this year which is a increase of {{ backService.aboveListing['total_profit_per']}}% than the previous year, 
            There were {{ backService.aboveListing['active_users']}} entities
           who bought our product actively. There has been {{backService.aboveListing['new_orders_per']}}% increase in new orders and
           {{backService.aboveListing['open_complaints_per']}}% demise in complaints related to our products
         
          </nb-card-body>
        </nb-card>  
  </div>
</div>




<!-- take care about <ngx-progress-section></ngx-progress-section>
<div class="row">
  <div class="col-xxl-9">
    <ngx-country-orders></ngx-country-orders>
  </div>

  <div class="col-xxl-3">
    <ngx-progress-section></ngx-progress-section>
  </div>
</div>

<div class="row">
  <div class="col-xxl-9">
    <ngx-ecommerce-visitors-analytics></ngx-ecommerce-visitors-analytics>
  </div>

  <div class="col-xxl-3">
    <ngx-user-activity></ngx-user-activity>
  </div>
</div>-->
